header, footer {
  background-color: #2e7eff;
}
body{
background-image:url("https://res.cloudinary.com/dvjy611ub/image/upload/v1572191567/images_nkufif.jpg")!important;
  background-repeat:no-repeat;
  background-size:cover;
}
  nav {
    background-color: #0e8216;

  .nav-link, .dropdown-item {
    font-size: 15px;
    font-weight: 600;
    text-transform: lowercase;
  }
  nav li {
    padding: 0 18px;
  }
  nav li.active, nav li.active:before {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  i{
    color: #f7b525;
    padding: 20px;
  }
